@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Poppins", "sans-serif";
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a1a1d;
}

input {
  background-color: #c3073f;
  border-radius: 15px;
  border: none;
  color: #eee;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.1rem;
  margin-bottom: 2rem;
  /* box-shadow: 4px 4px 2px #721a34; */
  box-shadow: 0 5px 10px #721a34;
  border:2px solid #c3073f;
}

input::placeholder {
    color: #bbb;
}

input:focus {
    outline: none;
}

.card {
  background-color: #c3073f;
  background-image: #1a1a1d;
  display: flex;
  padding: 3rem;
  max-width: 800px;
  border-radius: 30px;
  /* box-shadow: 8px 8px 6px #721a34; */
  /* border:2px solid #1a1a1d; */
  box-shadow: 0 5px 10px #721a34;
}

/* .img-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.avatar {
  border: 10px solid #1a1a1d;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.repo {
    background-color: #1a1a1d;
    border-radius: 5px;
    display: inline-block;
    color: #eee;
    font-size: 1rem;
    padding: 7px;
    margin-right: 0.5rem;
    margin-bottom: 0.6rem;
    text-decoration: none;
    letter-spacing: 1px;
}

h4{
    font-size: 15px;
}
